input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #818cf8;
  cursor: pointer;
  border: 3px solid #0a0a0f;
}

input[type="range"]::-moz-range-thumb {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: #818cf8;
  cursor: pointer;
  border: 3px solid #0a0a0f;
}
